.root {
  padding: 2rem 1rem 5rem 1rem;
}

.homePageDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homePageDiv {
  gap: 1rem;
  width: 700px;
}

.waveBtnDiv {
  width: 20%;
}
